<form [formGroup]="formCourse">
  <mat-card class="example-card">
    <mat-toolbar class="mb-4">
      Detalhes do Curso
    </mat-toolbar>

    <mat-card-content>
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label>Nome</mat-label>
        <input matInput
               placeholder="Nome"
               formControlName="name"
               #name>
        <mat-hint align="end">{{name.value.length}}/100</mat-hint>
        <mat-error *ngIf="formCourse.get('name')?.invalid">
          {{getErrorMesssage('name')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category" placeholder="Categoria" required>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
          <mat-option value="DevOps">DevOps</mat-option>
        </mat-select>
        <mat-error *ngIf="formCourse.get('category')?.invalid">
          {{getErrorMesssage('category')}}
        </mat-error>
      </mat-form-field>

      <mat-toolbar class="w-100 mx-0 mb-4">
        <span>Aulas</span>
        <button mat-icon-button>
          <mat-icon class="mat-18">add</mat-icon>
        </button>
      </mat-toolbar>

      <div formArrayName="lessons" class="mb-2" *ngFor="let lesson of getLessonsFormArray(); let i = index;">
        <div [formGroupName] = i>
          <mat-form-field appearance="outline" class="w-50 me-2">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-25">
            <mat-label>URL</mat-label>
            <input matInput formControlName="youtubeURL">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions  align="end">
      <button mat-button type="button" color="warn" (click)="onCancel()">Cancelar</button>
      <button mat-flat-button type="button" color="primary" (click)="onSubmit()">Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>
