<form [formGroup]="formCourse">
  <mat-card class="example-card">
    <mat-toolbar class="mb-4">
      Detalhes do Curso
    </mat-toolbar>

    <mat-card-content>
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label>Nome</mat-label>
        <input matInput
               placeholder="Nome"
               formControlName="name"
               #name>
        <mat-hint align="end">{{name.value.length}}/100</mat-hint>
        <mat-error *ngIf="formCourse.get('name')?.invalid">
          {{formUtils.getErrorMesssage(formCourse, 'name')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category" placeholder="Categoria" required>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>
        <mat-error *ngIf="formCourse.get('category')?.invalid">
          {{formUtils.getErrorMesssage(formCourse, 'category')}}
        </mat-error>
      </mat-form-field>

      <mat-toolbar class="w-100 mx-0 mb-4">
        <span>Aulas</span>
        <button type="button" mat-icon-button (click)="addNewLesson()">
          <mat-icon class="mat-18">add</mat-icon>
        </button>
      </mat-toolbar>
      <mat-error *ngIf="formUtils.isFormArrayRequired(formCourse, 'lessons')">
        Adicione pelo menos uma aula.
      </mat-error>

      <div formArrayName="lessons" class="mb-2" *ngFor="let lesson of getLessonsFormArray(); let i = index;">
        <div [formGroupName] = i class="row">
          <mat-form-field appearance="outline" class="col-6">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="getLessonsFormArray()[i].get('name')?.invalid">
              {{formUtils.getFormArrayFieldErrorMessage(formCourse, 'lessons', 'name', i)}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col">
            <mat-label>URL</mat-label>
            <input matInput formControlName="youtubeURL">
            <mat-error *ngIf="getLessonsFormArray()[i].get('youtubeURL')?.invalid">
              {{formUtils.getFormArrayFieldErrorMessage(formCourse, 'lessons', 'youtubeURL', i)}}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button class="col-3 me-3" (click)="deleteLesson(i)">
            <mat-icon type="button" color="warn">delete</mat-icon>
          </button>
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions  align="end">
      <button mat-button type="button" color="warn" (click)="onCancel()">Cancelar</button>
      <button mat-flat-button type="button" color="primary" (click)="onSubmit()">Salvar</button>
    </mat-card-actions>
  </mat-card>
</form>
